*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: left !important;
}
body{
    font-family: Arial;
    background: white;
    padding: 0 1rem;
    
}
nav{
    text-transform: uppercase;
    padding: 1rem 0;
    border: 1px solid white;
    background: lightblue;
}